@use "../../styles/variabels.scss" as v;
.mode-toggle {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  width: 100px;
  &__switch {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 34px;
  }
  &__input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .mode-toggle__slider {
      background-color: #000;

      &:before {
        background-color: white;
        transform: translateX(66px);
      }
    }

    &:focus + .mode-toggle__slider {
      box-shadow: 0 0 2px #000;
    }
  }

  &__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    transition: 0.4s;
    box-shadow: 0 0 2px #000;

    &:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: black;
      transition: 0.4s;
    }

    &--round {
      border-radius: 34px;

      &:before {
        border-radius: 50%;
      }
    }
  }

  &__mode-hint {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
  }
}

.dark-mode {
  .mode-toggle__mode-hint {
    color: v.$primary-color-dark;
  }
}
